a href="/posts/new" New Post

h1 Public posts: 
- posts.reverse().each do |post|
    li 
        a href="/posts/#{post['id']}/show" #{post["header"]}
//om man går in på en post och det är ens egen can man edita - bättre 
//post -> content -> header, body 